* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: inherit;
  text-decoration: none;
  border: none;
}

*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
a,
button {
  cursor: pointer;
}
