$def: #436372;
$hover: #ede0d4;
$title: #1a1a1a;
$bg: #a3bbc8;
$bg-yellow: #fcd7b6;
$about: #243f4d;
$btn-def: #f2f2f2;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
}
