@import '/src/app/styles/vars';

.blogItems {
}

.blogItem {
  margin-bottom: 70px;
  max-width: 830px;
}

.blog {
  &__itemImg {
    position: relative;
    margin-bottom: 40px;
  }
  &__itemInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $bg;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    font-size: 0.8rem;
    color: $btn-def;
  }
  &__itemDate {
  }
  &__itemAuthor {
    margin-bottom: 1px;
    &:hover {
      border-bottom: 1px solid black;
      margin-bottom: 0px;
    }
  }
  &__itemTitle {
    font-family: $rubik-400;
    font-size: 2.5rem;
    text-align: start;
    margin-bottom: 10px;
  }
  &__itemText {
    color: $title;
    line-height: 23px;
    margin-bottom: 30px;
  }
  &__itemLink {
    border: 1px solid $bg;
    padding: 15px 20px;
    color: $bg;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
    svg {
      margin-left: 30px;
    }
    &:hover {
      background-color: $bg;
      color: white;
      svg path {
        fill: white;
      }
    }
  }
}
