@import '../../../app/styles/vars';

.design-product {
  margin-bottom: 120px;
  &__title {
    font-size: 36px;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__item {
    margin-right: 30px;
    user-select: none;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    transition: color 0.3s;
    &:hover {
      color: $title;
      border-bottom: 2px solid $title;
    }
  }
  &__item-active {
    padding-bottom: 2px;
    border-bottom: 2px solid $title;
    color: $title;
    animation: rubberBand 0.6s;
  }
  &__content-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &__content-item {
    color: #a3bbc8;
    font-family: $rubik-700;
    max-width: 370px;
    height: 246px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  &__content-img {
    position: relative;
  }
  &__content-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }

  &__content-title {
    max-width: 230px;
    padding: 38px 0 16px 30px;
    font-family: $rubik-700;
    color: $title;
    font-size: 20px;
  }
  &__content-type {
    padding-left: 30px;
  }
}
